/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { OpalMcpCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { OpalMcpError } from "../models/errors/opalmcperror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Submit campaign item review decisions
 *
 * @remarks
 * Submits one or more review decisions for campaign item reviews assigned
 * to the authenticated user. Mirrors the GraphQL `reviewCampaignItems`
 * mutation.
 *
 * Each decision targets a `campaign_item_review_id` that must belong to
 * this campaign and be assigned to the caller. Supported decisions are
 * `APPROVED`, `REVOKED`, `CHANGE_ROLE`, and `REASSIGNED`.
 *
 * For `CHANGE_ROLE`, `access_level_remote_id` is required. For
 * `REASSIGNED`, either supply `new_reviewer_user_ids` (manual) or an
 * `assignment_source` preset (`PRINCIPAL_MANAGER` / `ASSET_ADMIN_OWNER`).
 * Reassignment also requires the campaign configuration flag
 * `allow_reviewer_reassignment` to be enabled.
 *
 * When the campaign uses `revoke_on: ACTION`, `REVOKED` decisions revoke
 * access immediately.
 */
export function campaignsReviewCampaignItems(
  client: OpalMcpCore,
  request: operations.ReviewCampaignItemsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.ReviewCampaignItemsResponse,
    | OpalMcpError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OpalMcpCore,
  request: operations.ReviewCampaignItemsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.ReviewCampaignItemsResponse,
      | OpalMcpError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.ReviewCampaignItemsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.ReviewCampaignItemsInfo, {
    explode: true,
  });

  const pathParams = {
    campaign_id: encodeSimple("campaign_id", payload.campaign_id, {
      explode: true,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/campaigns/{campaign_id}/reviews")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "reviewCampaignItems",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.ReviewCampaignItemsResponse,
    | OpalMcpError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.ReviewCampaignItemsResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
