/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { OpalMcpCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import * as components from "../models/components/index.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { OpalMcpError } from "../models/errors/opalmcperror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * List viewer campaign items
 *
 * @remarks
 * Returns a paginated list of campaign review items assigned to the
 * current authenticated viewer. Matches GraphQL `Campaign.viewerItems`.
 *
 * Campaign access matches `GET /campaigns/{campaign_id}` and GraphQL
 * `campaign(id)`: the caller must have access-review read permission or
 * be a reviewer on the campaign. Otherwise the request fails with 403
 * (same as get-by-id). Item rows are still scoped to the caller's own
 * reviews (empty page when the caller is an admin but not a reviewer).
 */
export function campaignsGetCampaignViewerItems(
  client: OpalMcpCore,
  request: operations.GetCampaignViewerItemsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    components.PaginatedViewerCampaignItemsList,
    | OpalMcpError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OpalMcpCore,
  request: operations.GetCampaignViewerItemsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      components.PaginatedViewerCampaignItemsList,
      | OpalMcpError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.GetCampaignViewerItemsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const pathParams = {
    campaign_id: encodeSimple("campaign_id", payload.campaign_id, {
      explode: true,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/campaigns/{campaign_id}/viewer-items")(pathParams);

  const query = encodeFormQuery({
    "access_level_names": payload.access_level_names,
    "ai_bucket_id": payload.ai_bucket_id,
    "cursor": payload.cursor,
    "entity_ids": payload.entity_ids,
    "item_ids": payload.item_ids,
    "page_size": payload.page_size,
    "principal_ids": payload.principal_ids,
    "sort_direction": payload.sort_direction,
    "sort_field": payload.sort_field,
    "statuses": payload.statuses,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getCampaignViewerItems",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    components.PaginatedViewerCampaignItemsList,
    | OpalMcpError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, components.PaginatedViewerCampaignItemsList$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
